@{
    ViewData["Name"]  = User.Claims.Where(c => c.Type == "Name").FirstOrDefault()?.Value;
    ViewData["MyRole"]  = User.Claims.Where(c => c.Type == "MyRole").FirstOrDefault()?.Value;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieTR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieTR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body >
    @if (@ViewData["MyRole"] != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="background-color:black ;color:aliceblue;border-radius:10px;">MovieMania</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                
                                <a class="navbar-brand" asp-area="" asp-controller="MovieT" asp-action="MovieView">Movies</a>
                                <a class="navbar-brand" asp-area="" asp-controller="MovieT" asp-action="TheaterView">Theaters</a>
                            </li>

                        </ul>

                    </div>
                    @if (@ViewData["MyRole"] != null)
                    {
                        <div class="dropdown" style="position:absolute; right:150px";>
                            <button class="dropbtn">@ViewData["Name"] </button>
                            <div class="dropdown-content">
                                @if (@ViewData["MyRole"].ToString() == "1")
                                {
                                    <a href="@Url.Action("AdminPanel","MovieT")">Dashboard</a>
                                }
                                <a href="@Url.Action("ChangePasswordView","MovieT")">Change Password</a>
                        <a href="@Url.Action("SignOut","MovieT")">Sign Out</a>


                    </div>
                
                
                
                
            </div>}
        </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MovieTR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js" integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
